@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.window-height {
    height: calc(100vh);
}

.background-gradient {
    background: linear-gradient(203deg, #00536e 16.58%, #007da5 47.14%);
}

.input-standard {
    border: 1px solid #ababab;
    border-radius: 10px;
    @apply w-full bg-white px-[10px] py-[7px];
    color: #b8b8b8;
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.input-standard:focus {
    color: black;
}

.form-element {
    @apply flex flex-col gap-2;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    @apply text-titlecolor;
}

.carousel-trigger:hover .carousel-button {
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
    color: black;
}
.carousel-trigger:active .carousel-button {
    transform: scale(0.95);
    transition: all 0.3s ease-in-out;
    color: black;
}

.ghost-canvas {
    position: relative;
    width: 100px;
    height: 400px;
}

.ghost-body {
    position: absolute;
    height: 28%;
    width: 100px;
    background-color: white;
    @apply shadow-md mx-auto top-2;
    /*ANIMATION START*/
    animation-name: floating;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /*ANIMATION END*/
}

.ghost-body-copy {
    position: absolute;
    height: 28%;
    width: 22%;
    background-color: white;
    left: 40%;
    top: 33%;
    z-index: 1;
}

.ghost-head {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -50%;
    background-color: white;
    border-radius: 90px;
}
.eye-right {
    position: absolute;
    height: 22%;
    width: 20%;
    right: 22%;
    top: 40%;
    background-color: black;
    border-radius: 50%;
}
.eye-left {
    position: absolute;
    height: 22%;
    width: 20%;
    left: 22%;
    top: 40%;
    background-color: black;
    border-radius: 50%;
}
.mouth {
    position: absolute;
    height: 26%;
    width: 24%;
    left: 38%;
    top: 70%;
    background-color: black;
    border-radius: 50%;
    z-index: 2;
}
.down-bubble {
    position: absolute;
    height: 55%;
    width: 100%;
    top: 70%;
}

.bubble-1 {
    position: absolute;
    height: 100%;
    width: 25%;
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    /*ANIMATION START*/
    animation-name: bubble;
    animation-duration: 2.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /*ANIMATION END*/
}
.bubble-2 {
    position: absolute;
    height: 100%;
    width: 25%;
    left: 25%;
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    /*ANIMATION START*/
    animation-name: bubble;
    animation-duration: 3.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /*ANIMATION END*/
}
.bubble-3 {
    position: absolute;
    height: 100%;
    width: 25%;
    right: 25%;
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    /*ANIMATION START*/
    animation-name: bubble;
    animation-duration: 3.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /*ANIMATION END*/
}
.bubble-4 {
    position: absolute;
    height: 100%;
    width: 25%;
    right: 0;
    background-color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    /*ANIMATION START*/
    animation-name: bubble;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /*ANIMATION END*/
}

/*ANIMATION START*/
@keyframes bubble {
    0% {
        top: 0;
    }
    50% {
        top: 20%;
    }
    100% {
        top: 0;
    }
}
@keyframes floating {
    0% {
        top: 33%;
    }
    30% {
        top: 40%;
    }
    50% {
        top: 33%;
    }
    70% {
        top: 25%;
    }
    100% {
        top: 33%;
    }
}
/*ANIMATION END*/
